{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "plugins": ["prettier", "react", "jest"],
  "rules": {
    "react/prop-types": [2],
    "prettier/prettier": "error"
  },
  "env": {
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended"
  ]
}
